.berwazi-form {
  padding: 20px 10% 20px 10%;
}

.berwazi-form .image-container {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.berwazi-form .close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  background: rgba(0,0,0,0.1);
  border-radius: 25px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.berwazi-form .close i {
  color:  #9d1d90;
    padding: 5px;
}

.berwazi-form .display-images {
  border: 1px solid #ddd;
  width: 300px;
  height: 200px;
}
